@media only screen and (max-width: 2560px){
    .lewo, .prawo{
        display: inline;
    }
}

@media only screen and (max-width: 425px){
    .lewo, .prawo {
        display: none;
    }
    .srodek{
        width: 100%;
        text-align: center;
    }
}
.checked{
    background-color: green;
    color: black;
    display: block;
}

.ikona{
    display: none;
}

html{
    background-color: rgb(22, 22, 22);
    overflow-x: hidden;
}

#content{
    background-color: rgb(22, 22, 22);
}

ul li.checked{
    background: green;
    color: rgb(255, 255, 255);
    text-decoration: line-through;
}

ul{
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}

ul li{
    cursor: pointer;
    position: relative;
    padding: 10px;
    background: rgb(54, 54, 54);
    transition: 0.2s;
    color: white;
    user-select: none;
}

ul li:hover{
    background:  rgb(22, 22, 22);
}

li.checked:hover{
    background: rgb(0, 92, 0);
}

.hidden{
    display: none;
}

.wyswietlZdjecie{
    
    width: 90%;
    height: auto;
}

.lista{
    margin-right: 25px;
}